.App {
  text-align: left;
  height:100%;
  width:60%;
  padding-left: 15%;
  padding-right: 15%;

}

.App-header {
  height: 50px;
  padding: 10px;
  color: #FF5414;
}

.App-navigator{
  color: #FF5414;
}

.navigator_link{
  color: coral;
  text-decoration: none;
  margin:0 10px;
}

.navigator_link:hover{
  background-color: #FF5414;
  color: white;
}

.App-intro {
  font-size: large;
}

.home_container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.user_container{
  flex:1;
}

.task_container{
  flex:2;
}

.user_name{
  cursor: pointer;
  margin: 10px 0;
}

.user_name.selected{
  color: #FF5414;
}

.user_task{
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.user_task .completed{
  text-decoration: line-through;
  color: darkgrey;
}

.all_tasks_container{
  width: 100%;
}

.all_tasks_title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.all_tasks_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.all_tasks_user{
  flex:1;
}

.all_tasks_task{
  flex: 2;
}

.task_list_task{
  flex: 2;
}

.task_list_task:hover{
  cursor: pointer;
}

.task_list_task.completed{
  text-decoration: line-through;
  color: darkgrey;
}